:root {
    --primary: var(--color-blue-200);
    --primary_fixed_dim: var(--color-blue-200);
    --surface_tint: var(--color-blue-200);
    --tertiary: var(--color-blue-400);
    --tertiary_fixed_dim: var(--color-blue-400);
}
