@use "preflight";
@use "colors" as *;
@use "utilities" as *;

tooltip {
    margin: 5px 10px 15px;
    border-radius: var(--radius-lg);
    padding: 0.5rem 1rem;
    background-color: color-mix(
        in oklch,
        var(--color-zinc-950) 95%,
        transparent
    );
}
