@use "colors" as *;
@use "utilities" as *;

* {
    all: unset;
    font-family: "SF Pro Display";
}

.playback-slider {
    background-color: rgba(white, 0.15);
    border-radius: 9999px;
    min-height: 4px;

    highlight {
        background-color: rgba(white, 0.9);
        border-radius: 9999px;
    }

    slider {
        min-width: 6px;
        min-height: 6px;
        padding: 0;
        margin: -1px 0;
        background-color: white;
        border-radius: 9999px;
        box-shadow: 0 1px 2px rgba(black, 0.4);
        outline: none;
    }
}

.launcher-entry {
    caret-color: white;

    placeholder {
        opacity: 0.8;
    }
}
