%background {
    .background-wallpaper {
        background-image: var(--wallpaper-url);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #111111;
        color: white;
        font-size: xx-large;
        min-width: 1920px;
        min-height: 1080px;
    }
}
