@use "windows" as *;

* {
    all: unset;
    font-family: "FiraCode Nerd Font Mono";
}

.bar {
    @extend %bar;
}

.background {
    @extend %background;
}

.wallpapers {
    @extend %wallpapers;
}
