@use "windows" as *;

* {
    all: unset;
    font-family: "SF Pro Text";
}

.bar {
    @extend %bar;
}

.background {
    @extend %background;
}

.wallpapers {
    @extend %wallpapers;
}

.launcher {
    @extend %launcher;
}
