@use "windows" as *;

* {
    all: unset;
    font-family: "SF Pro Text";
}

tooltip {
    background: rgba(black, 0.5);
    padding: 1rem;
    font-size: 1rem;
}

.bar {
    @extend %bar;
}

.background {
    @extend %background;
}

.wallpapers {
    @extend %wallpapers;
}

.launcher {
    @extend %launcher;
}
