@use "workspaces";
@use "clock";
@use "sass:color";
@use "../../colors" as *;
@use "../../mixins" as *;

$color10_dark: color.scale($color10, $lightness: -50%);
$color12_dark: color.scale($color12, $lightness: -30%);

.container {
    @include border($color10, 2px, 0.4rem);
    @include shadow;
    background-color: $color10_dark;
    padding: 0.3rem 0.4rem;

    &.gradient {
        background: linear-gradient(to right $color10_dark, $color12_dark);
    }
}
