@use "sass:color";
@use "../../colors" as *;

$color11_light: color.scale($color11, $lightness: 20%);

%workspaces {
    .workspaces {
        min-height: 1.2rem;

        .workspace-button {
            min-height: 1rem;
            min-width: 0.8rem;
            color: $foreground;
            padding: 0 0.3rem;
            border-radius: 0.4rem;
            background-color: $color8;
            transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

            margin-top: 0.1rem;
            margin-bottom: 0.1rem;

            &.occupied {
                background: $color11;
            }

            &.active {
                margin: 0;
                padding: 0 0.6rem;
                background-color: $color11_light;
            }

            &:hover {
                background-color: $color11_light;
            }
        }
    }
}
