@use "sass:color";
@use "../../colors" as *;
@use "../../mixins" as *;

$color8_light: color.scale($color8, $lightness: 20%);
$color11_light: color.scale($color11, $lightness: 20%);
$color11_lighter: color.scale($color11, $lightness: 40%);

%workspaces {
    .workspaces {
        min-height: 1.2rem;

        .workspace-button {
            @include border($color8_light, 1px);
            min-width: 0.8rem;
            min-height: 1rem;
            background-color: $color8;
            color: $foreground;
            padding: 0 0.3rem;
            border-radius: 0.4rem;
            transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

            margin-top: 0.1rem;
            margin-bottom: 0.1rem;

            &.occupied {
                @include border($color11_light, 1px);
                background-color: $color11;
            }

            &.active {
                @include border($color11_lighter, 1px);
                background-color: $color11_light;
                padding: 0 0.6rem;
                margin-bottom: 0;
            }

            &:hover {
                background-color: $color11_light;
            }
        }
    }
}
