@use "sass:color";
@use "../../colors.scss" as *;

%workspaces {
    .workspaces {
        .workspace-button {
            min-height: 1rem;
            min-width: 0.8rem;
            border-radius: 0.4rem;
            background: $color14;
            color: $foreground;
            transition: padding 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

            padding: 0 0.3rem;

            &.occupied {
                background: $color9;
            }

            &.active {
                padding: 0 0.6rem;
                background-color: $color10;
                color: color.scale($color: $foreground, $lightness: 10%);
            }

            margin-left: 1px;
            margin-right: 1px;

            &:first-child {
                margin-left: 0px;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
