@use "sass:color";
@use "mixins" as *;
@use "colors" as *;
@use "colors-variations" as *;

.launcher {
    entry > text {
        color: $on_surface_dark;

        &:focus-within {
            color: $on_surface_lighter;
        }

        placeholder {
            color: $on_surface_dark;
        }
    }

    selection {
        background-color: $background_light;
        color: $on_surface_lighter;
    }

    contents > scrolledwindow {
        @include border($background_lighter, 1px, 1rem);
        background: $background_dark;
        padding: 0.75rem;
        box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.3);
        margin: 5px 10px 15px;
    }

    scrollbar.vertical {
        &:hover {
            slider {
                min-height: 5px;
            }
        }

        range {
            trough {
                border-radius: 1rem;
                outline: 1px solid rgba(black, 0.5);

                slider {
                    border-radius: 1rem;
                    min-width: 3px;
                    background-color: white;
                    outline: 1px solid #ccc;
                }
            }
        }
    }
}
