@use "colors" as *;
@use "mixins" as *;

.wallpapers {
    viewport {
        padding: 0 2.5rem;
    }

    scrollbar.horizontal {
        margin-bottom: -2rem;

        &:hover {
            slider {
                min-height: 5px;
            }
        }

        range {
            trough {
                margin: 10px 9px;
                outline: 1px solid black;

                slider {
                    min-height: 3px;
                    min-width: 40px;
                    background-color: white;
                    outline: 1px solid #ccc;
                }
            }
        }
    }
}
