@use "mixins" as *;
@use "colors" as *;
@use "colors-variations" as *;

.button {
  @include transition;
  border-radius: 0.5rem;
  color: $foreground;
  margin: 1px;

  &:hover {
    background-color: $background_light;
    color: $foreground_light;
  }

  &:focus-visible {
    border-color: $background_lighter;
  }

  &.active,
  &:active {
    background-color: $background_lighter;
    color: $foreground_lighter;
  }
}

.container {
  @include shadow;
  @include border($background_lighter, 2px, 1rem);
  background-color: rgba($background_dark, 0.8);
  margin: 5px 10px 15px;
  padding: 1rem;
}

.shadow {
  @include shadow;
}
