$background: #111111;
$error: #111111;
$error_container: #111111;
$inverse_on_surface: #111111;
$inverse_primary: #111111;
$inverse_surface: #111111;
$on_background: #111111;
$on_error: #111111;
$on_error_container: #111111;
$on_primary: #111111;
$on_primary_container: #111111;
$on_primary_fixed: #111111;
$on_primary_fixed_variant: #111111;
$on_secondary: #111111;
$on_secondary_container: #111111;
$on_secondary_fixed: #111111;
$on_secondary_fixed_variant: #111111;
$on_surface: #111111;
$on_surface_variant: #111111;
$on_tertiary: #111111;
$on_tertiary_container: #111111;
$on_tertiary_fixed: #111111;
$on_tertiary_fixed_variant: #111111;
$outline: #111111;
$outline_variant: #111111;
$primary: #111111;
$primary_container: #111111;
$primary_fixed: #111111;
$primary_fixed_dim: #111111;
$scrim: #111111;
$secondary: #111111;
$secondary_container: #111111;
$secondary_fixed: #111111;
$secondary_fixed_dim: #111111;
$shadow: #111111;
$source_color: #111111;
$surface: #111111;
$surface_bright: #111111;
$surface_container: #111111;
$surface_container_high: #111111;
$surface_container_highest: #111111;
$surface_container_low: #111111;
$surface_container_lowest: #111111;
$surface_dim: #111111;
$surface_tint: #111111;
$surface_variant: #111111;
$tertiary: #111111;
$tertiary_container: #111111;
$tertiary_fixed: #111111;
$tertiary_fixed_dim: #111111;