@use "windows" as *;
@use "colors" as *;
@use "mixins" as *;
@use "classes" as *;
@use "utilities" as *;
@use "colors-variations" as *;

* {
    all: unset;
    color: $foreground;
    font-size: 1rem;
    font-family: "SF Pro Text";
}

tooltip {
    background: rgba(black, 0.5);
    padding: 1rem;
    font-size: 1rem;
}

image {
    min-width: 24px;
}

modelbutton {
    @include transition;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.2rem 0;

    &:hover {
        background-color: $background_light;
        color: $foreground_lighter;
    }

    &.active,
    &:active {
        background-color: $background_lighter;
        color: $foreground_lighter;
    }

    label:disabled {
        color: $foreground_darker;
    }
}
