@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(-25px);
    }
    50% {
        transform: none;
    }
}
