@use "sass:list";
@use "sass:meta";

@mixin shadow {
    box-shadow: 0 0 4px 2px black;
}

@mixin border($color: white, $width: 1px, $radius: 0) {
    border: $width solid $color;
    border-radius: $radius;
}

@mixin min-width-height($width, $height) {
    min-width: $width;
    min-height: $height;
}

@mixin transition(
    $type: all,
    $duration: 0.1s,
    $timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
) {
    transition: $type $duration $timing-function;
}
