@use "colors" as *;
@use "colors-variations" as *;
@use "mixins" as *;

.container {
    @include border($background_lighter, 2px, 0.4rem);
    /* @include shadow; */

    background-color: rgba($background, 0.8);
    padding: 1rem;
}
